<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span>


    <span class="s0">&lt;ImageButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/Medication&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;160dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;169dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;1.0&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@+id/Contacts&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.996&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/pills&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/Emergency_Call&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;178dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;174dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.497&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/emergency_call&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/Contacts&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;167dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;171dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/contacts&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;1.0&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/contact_book&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/emergency_call&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Emergency Call&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;24sp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.518&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/Emergency_Call&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.0&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/contacts&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Contacts&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;24sp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s2">=&quot;@+id/medication&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.36&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.749&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/medication&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Medication Order&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;24sp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toTopOf</span><span class="s2">=&quot;@+id/Medication&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.96&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/emergency_call&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.97&quot; </span><span class="s0">/&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>